* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  height: 120vh;
}

.hero header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.hero header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero header nav ul li {
  margin: 0 30px;
}

.hero header nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #fff;
}

.hero header nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0%;
  z-index: 1;
  background-color: #41a2d8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header nav ul li a:hover::before {
  width: 100%;
}

.hero header nav ul li:last-child .donate-hover {
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header nav ul li:last-child .donate-hover::before {
  display: none;
}

.hero header nav ul li:last-child .donate-hover:hover {
  background-color: #fff;
  color: #41a2d8;
}

.hero .hero-container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-container .hero-text {
  margin-top: 30px;
}

.hero .hero-container .hero-text h1 {
  position: relative;
  font-size: 5em;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s ease-in-out .5s;
  transition: .3s ease-in-out .5s;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text h2 {
  position: relative;
  font-size: 2em;
  color: #fff;
  width: 60%;
  line-height: 1.5;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s ease-in-out .6s;
  transition: .3s ease-in-out .6s;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  margin-top: .5em;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s ease-in-out .7s;
  transition: .3s ease-in-out .7s;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text a:hover {
  background-color: #fff;
  color: #41a2d8;
}

.our-mission {
  width: 50%;
  margin: 0 auto;
  padding: 5em;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.our-mission h2 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.our-mission p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  line-height: 1.75;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.our-mission p:nth-child(3) {
  margin-top: 2em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.how-you-can-help {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  color: #fff;
  background: url("../images/how-you-can-help.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.how-you-can-help .how-inner {
  width: 50vw;
  padding: 5em;
}

.how-you-can-help .how-inner h2 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.how-you-can-help .how-inner p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  line-height: 1.75;
  width: 30em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.how-you-can-help .how-inner p:nth-child(3) {
  margin-top: 2em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.how-you-can-help .how-inner a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #d84e41;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.how-you-can-help .how-inner a:hover {
  background-color: #fff;
  color: #d84e41;
}

.donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em;
}

.donate h2 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
}

.donate a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #41a2d8;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.donate a:hover {
  background-color: #fff;
  color: #d84e41;
}
/*# sourceMappingURL=style.css.map */