* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  position: relative;
}

.hero {
  position: relative;
  background: url("../images/hero-alt2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 93vh;
}

.hero header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 99;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header .header-inner {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.2em;
  padding: 20px;
}

.hero header .header-inner .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero header .header-inner .header-left p {
  display: inline-block;
  color: #000;
  font-weight: bold;
}

.hero header .header-inner nav {
  width: 50%;
}

.hero header .header-inner nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero header .header-inner nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.hero header .header-inner nav ul li a:hover {
  color: #D87341;
}

.hero header .header-inner nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0%;
  z-index: 1;
  background-color: #41a2d8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header .header-inner nav ul li a:hover::before {
  width: 100%;
}

.hero header .header-inner nav ul li a.active {
  color: #D87341;
  font-weight: bold;
}

.hero header .header-inner nav ul li:last-child .donate-hover {
  background-color: #41a2d8;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding: 10px 35px;
}

.hero header .header-inner nav ul li:last-child .donate-hover:hover {
  background-color: #328ab9;
}

.hero .hero-container {
  width: 41vw;
  border-radius: 15px;
  background-color: #F46857;
  position: absolute;
  bottom: -105px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.hero .hero-container .hero-text {
  text-align: center;
  position: relative;
}

.hero .hero-container .hero-text i {
  position: relative;
  top: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #D84E41;
  -webkit-animation: heartbeat 2.5s infinite;
          animation: heartbeat 2.5s infinite;
}

.hero .hero-container .hero-text h1 {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  margin: 0 auto 2em auto;
  letter-spacing: 4px;
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hero .hero-container .hero-text h2 {
  font-size: 50px;
  color: #fff;
  -webkit-transition: .5s ease-in-out .1s;
  transition: .5s ease-in-out .1s;
  opacity: 0;
  margin: 50px 0;
  line-height: 1.35;
}

.hero .hero-container .hero-text a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 10px 85px;
  color: #fff;
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out .2s;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out .2s;
  font-size: 1.5em;
  opacity: 0;
  margin-bottom: 3.1em;
}

.hero .hero-container .hero-text a:hover {
  background-color: #328ab9;
}

.what-we-do {
  margin: 200px auto;
  width: 60%;
}

.what-we-do .what-we-do-inner {
  text-align: center;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.what-we-do .what-we-do-inner h2 {
  letter-spacing: 4px;
  font-size: 13px;
  text-transform: uppercase;
  color: #c2c2c2;
}

.what-we-do .what-we-do-inner h3 {
  font-size: 50px;
  font-weight: bold;
}

.what-we-do .what-we-do-inner .what-we-do-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.what-we-do .what-we-do-inner .what-we-do-cards .card {
  width: 200px;
  position: relative;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  outline: none;
  opacity: 0;
}

.what-we-do .what-we-do-inner .what-we-do-cards .card i {
  color: #a4c9cf;
}

.what-we-do .what-we-do-inner .what-we-do-cards .card h4 {
  font-size: 22px;
  margin: 30px auto;
  width: 80%;
}

.what-we-do .what-we-do-inner .what-we-do-cards .card p {
  font-size: 14px;
}

.how-you-can-help {
  background-color: #bbd3eb;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-you-can-help .how-inner {
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-you-can-help .how-inner img {
  position: relative;
  border-radius: 0 100px 0 100px;
  margin-top: -180px;
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.how-you-can-help .how-inner .how-right {
  margin-left: 100px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  opacity: 0;
}

.how-you-can-help .how-inner .how-right h2 {
  letter-spacing: 4px;
  font-size: 13px;
  text-transform: uppercase;
  color: #747474;
}

.how-you-can-help .how-inner .how-right h3 {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.how-you-can-help .how-inner .how-right p {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 26px;
}

.how-you-can-help .how-inner .how-right a {
  text-decoration: none;
  background-color: #d84e41;
  padding: 11px 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.how-you-can-help .how-inner .how-right a:hover {
  background-color: #a83d33;
}

.contact-us {
  position: relative;
  background-color: #9db3c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.contact-us .contact-us-inner {
  width: 45%;
  margin: 100px auto;
}

.contact-us .contact-us-inner h2 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 13px;
  text-transform: uppercase;
  color: #747474;
}

.contact-us .contact-us-inner h3 {
  text-align: center;
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.contact-us .contact-us-inner form {
  margin: 35px 0;
}

.contact-us .contact-us-inner form input[type="text"], .contact-us .contact-us-inner form input[type="email"] {
  outline: none;
  border: none;
  border-color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.contact-us .contact-us-inner form input[type="submit"] {
  outline: none;
  border: none;
  background-color: #D84E41;
  color: #fff;
  padding: 15px 30px;
  display: block;
  margin: 20px auto 30px auto;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.contact-us .contact-us-inner form input[type="submit"]:hover {
  background-color: #a83d33;
}

.contact-us .contact-us-inner form label {
  color: #747474;
}

.contact-us .contact-us-inner form .name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us .contact-us-inner form .name-email .name, .contact-us .contact-us-inner form .name-email .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
}

.contact-us .contact-us-inner form .subject input {
  width: 100%;
}

.contact-us .contact-us-inner form .message textarea {
  width: 100%;
  outline: none;
  border: none;
  border-color: #fff;
  border-radius: 5px;
  resize: none;
  line-height: 20px;
  font-size: 14px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

@-webkit-keyframes heartbeat {
  50% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  55% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  60% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  65% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  70% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}

@keyframes heartbeat {
  50% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  55% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  60% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  65% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  70% {
    -webkit-transform: translateY(-50%) scale(1.1);
            transform: translateY(-50%) scale(1.1);
  }
  75% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
  100% {
    -webkit-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
  }
}

@media screen and (max-width: 680px) {
  .hero {
    background-position: 56%;
    background-size: 250% 100%;
  }
  .hero header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .hero header .header-inner {
    padding: 10px;
  }
  .hero header .header-inner nav {
    display: none;
  }
  .hero .hero-container {
    width: 90vw;
    border-radius: 15px;
    bottom: -105px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
  .hero .hero-container .hero-text h1 {
    font-size: 10px;
    margin: 0 auto 0em auto;
    opacity: 1;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .hero .hero-container .hero-text h2 {
    font-size: 30px;
    margin: 20px 0;
    opacity: 1;
  }
  .hero .hero-container .hero-text a {
    font-size: 1em;
    opacity: 1;
  }
  .what-we-do {
    margin: 0px auto;
    width: 100%;
  }
  .what-we-do .what-we-do-inner {
    margin-top: 10px;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .what-we-do .what-we-do-inner h3 {
    font-size: 30px;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards {
    display: block;
    margin-top: 100px;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card {
    width: 100%;
    border-radius: 0px;
    opacity: 1;
    margin-bottom: 50px;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card i {
    position: relative;
    font-size: 125px;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card h4 {
    font-size: 20px;
    margin: 20px auto;
    width: 100%;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card p {
    font-size: 15px;
  }
  .how-you-can-help {
    height: 100%;
    display: block;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    padding-bottom: 40px;
  }
  .how-you-can-help .how-inner {
    width: 100%;
    margin: 0;
    display: block;
    border-radius: 0 0px 0 0px;
    margin-top: 0px;
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .how-you-can-help .how-inner img {
    position: relative;
    border-radius: 0 0px 0 0px;
    margin: 40px 10% 30px 10%;
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    width: 80%;
  }
  .how-you-can-help .how-inner .how-right {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 0;
  }
  .how-you-can-help .how-inner .how-right h2 {
    font-size: 13px;
    text-align: center;
  }
  .how-you-can-help .how-inner .how-right h3 {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }
  .how-you-can-help .how-inner .how-right p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
  }
  .how-you-can-help .how-inner .how-right a {
    display: block;
    text-decoration: none;
    background-color: #d84e41;
    padding: 11px 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    text-align: center;
  }
  .how-you-can-help .how-inner .how-right a:hover {
    background-color: #a83d33;
  }
  .contact-us {
    position: relative;
    background-color: #9db3c9;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
    padding-bottom: 30px;
  }
  .contact-us .contact-us-inner {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .contact-us .contact-us-inner h3 {
    font-size: 30px;
  }
  .contact-us .contact-us-inner form {
    margin: 0;
  }
  .contact-us .contact-us-inner form input[type="text"], .contact-us .contact-us-inner form input[type="email"] {
    width: 100%;
  }
  .contact-us .contact-us-inner form input[type="submit"] {
    width: 75%;
    margin: 10px auto 20px auto;
  }
  .contact-us .contact-us-inner form input[type="submit"]:hover {
    background-color: #a83d33;
  }
  .contact-us .contact-us-inner form label {
    color: #747474;
  }
  .contact-us .contact-us-inner form .name-email {
    display: block;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 100%;
  }
  .contact-us .contact-us-inner form .name-email .name, .contact-us .contact-us-inner form .name-email .email {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: none;
            flex-direction: none;
    width: 100%;
  }
  .contact-us .contact-us-inner form .subject input {
    width: 100%;
  }
  .contact-us .contact-us-inner form .message textarea {
    width: 100%;
    outline: none;
    border: none;
    border-color: #fff;
    border-radius: 5px;
    resize: none;
    line-height: 20px;
    font-size: 14px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
  }
  .contact-us .contact-us-inner p {
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
    width: 75%;
    margin: 0 auto;
  }
  .copyright {
    font-size: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    background-position: 56%;
    background-size: 250% 100%;
  }
  .hero header .header-inner {
    width: 100%;
    font-size: 1.1em;
    padding: 10px;
  }
  .hero header .header-inner nav {
    width: 75%;
  }
  .hero header .header-inner nav ul li a {
    padding: 8px;
    font-size: 12px;
  }
  .hero .hero-container {
    width: 80vw;
  }
  .hero .hero-container .hero-text i {
    position: relative;
    top: -50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #D84E41;
    -webkit-animation: heartbeat 2.5s infinite;
            animation: heartbeat 2.5s infinite;
  }
  .what-we-do {
    margin: 140px auto;
    width: 100%;
  }
  .what-we-do .what-we-do-inner {
    text-align: center;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  .what-we-do .what-we-do-inner .what-we-do-cards {
    margin-top: 40px;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card i {
    color: #a4c9cf;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card h4 {
    font-size: 18px;
    margin: 20px auto;
    width: 80%;
    height: 30%;
  }
  .what-we-do .what-we-do-inner .what-we-do-cards .card p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */