$primaryColor: #fff;
$secondaryColor: #41a2d8;
$thirdColor: #d84e41;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)),url('../images/hero.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    height: 120vh;

    header {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        color: $primaryColor;
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;
        padding: 20px;
        nav {
            ul {
                list-style: none;
                display: flex;
                align-items: center;

                li {
                    margin: 0 30px;

                    a {
                        position: relative;
                        text-decoration: none;
                        display: block;
                        padding: 10px;
                        transition: .3s ease-in-out;
                        color: $primaryColor;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 2px;
                            width: 0%;
                            z-index: 1;
                            background-color: $secondaryColor;
                            transition: .3s ease-in-out;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }

                    &:last-child .donate-hover {
                        background-color: $secondaryColor;
                        border-radius: 10px;
                        font-weight: bold;
                        transition: .3s ease-in-out;

                        &::before {
                            display: none;
                        }

                        &:hover {
                            background-color: $primaryColor;
                            color: $secondaryColor;
                        }
                    }
                }
            }
        }
    }

    // centered hero section
    .hero-container {
        width: 75vw;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .hero-text {
            margin-top: 30px;
            h1 {
                position: relative;
                font-size: 5em;
                color: $primaryColor;
                margin-bottom: 10px;
                font-family: 'Poppins', sans-serif;
                transition: .3s ease-in-out .5s;
                opacity: 0;
                top: 20px;
            }

            h2 {
                position: relative;
                font-size: 2em;
                color: $primaryColor;
                width: 60%;
                line-height: 1.5;
                margin-bottom: 25px;
                font-family: 'Poppins', sans-serif;
                transition: .3s ease-in-out .6s;
                opacity: 0;
                top: 20px;
            }

            a {
                position: relative;
                text-decoration: none;
                display: inline-block;
                padding: 10px 15px;
                color: $primaryColor;
                background-color: $secondaryColor;
                border-radius: 10px;
                font-weight: bold;
                transition: .3s ease-in-out;
                font-size: 1.5em;
                margin-top: .5em;
                font-family: 'Poppins', sans-serif;
                transition: .3s ease-in-out .7s;
                opacity: 0;
                top: 20px;

                &:hover {
                    background-color: $primaryColor;
                    color: $secondaryColor;
                }
            }
        }
    }
}

.our-mission {
    width: 50%;
    margin: 0 auto;
    padding: 5em;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);

    h2 {
        position: relative;
        font-size: 4em;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        margin-bottom: .5em;
        transition: .3s ease-in-out;
        opacity: 0;
        top: 20px;
    }

    p {
        position: relative;
        font-family: 'Poppins', sans-serif;
        font-size: 1.15em;
        line-height: 1.75;
        transition: .3s ease-in-out;
        opacity: 0;
        top: 20px;

        &:nth-child(3) {
            margin-top: 2em;
            transition: .3s ease-in-out;
            opacity: 0;
        }
    }
}

.how-you-can-help {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    color: $primaryColor;
    background: url('../images/how-you-can-help.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;

    .how-inner {
        width: 50vw;
        padding: 5em;

            h2 {
                position: relative;
                font-size: 4em;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                margin-bottom: .5em;
                transition: .3s ease-in-out;
                opacity: 0;
                top: 20px;
            }
    
            p {
                position: relative;
                font-family: 'Poppins', sans-serif;
                font-size: 1.15em;
                line-height: 1.75;
                width: 30em;
                transition: .3s ease-in-out;
                opacity: 0;
                top: 20px;
                
                &:nth-child(3) {
                    margin-top: 2em;
                    transition: .3s ease-in-out;
                    opacity: 0;
                }
            }

            a {
                display: inline-block;
                text-decoration: none;
                color: $primaryColor;
                background-color: $thirdColor;
                padding: 10px 15px;
                border-radius: 10px;
                font-weight: bold;
                transition: .3s ease-in-out;
                font-size: 1.5em;
                margin-top: 1.5em;
                font-family: 'Poppins', sans-serif;

                &:hover {
                    background-color: $primaryColor;
                    color: $thirdColor;
                }
            }
    }
}

.donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;

    h2 {
        font-size: 4em;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        margin-bottom: .5em;
    }

    a {
        display: inline-block;
        text-decoration: none;
        color: $primaryColor;
        background-color: $secondaryColor;
        padding: 10px 15px;
        border-radius: 10px;
        font-weight: bold;
        transition: .3s ease-in-out;
        font-size: 1.5em;
        font-family: 'Poppins', sans-serif;

        &:hover {
            background-color: $primaryColor;
            color: $thirdColor;
        }
    }
}

.footer {
    background-color: #ddd;

    .footer-inner {
        display: flex;
        padding: 4em 0;
        justify-content: space-around;
        width: 80%;
        margin: 0 auto;

        .footer-left {

            h3 {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 2em;
            }
            
            .phone {
                display: flex;
                align-items: center;
                margin: 1.2em 0;
    
                p {
                    margin-left: 1em;
                    display: inline-block;
                    font-size: 1.5em;
                    font-family: 'Poppins', sans-serif;
                }
            }
    
            .email {
                display: flex;
                align-items: center;
    
                p {
                    margin-left: 1em;
                    display: inline-block;
                    font-size: 1.5em;
                    font-family: 'Poppins', sans-serif;
                }
            }

            .social {
                margin-top: 1em;
                display: flex;

                .moveme {
                    transition: all .2s linear;
                    width: 100%;
                    height: 100%;
                }

                .box {
                    margin: 10px;
                    overflow-y: hidden;
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                    background-color: #DDDDDD;
                    box-shadow: 2px 2px 4px #888888, -2px -2px 4px #fff;
                }
                
                .box:hover .moveme {
                    transform: translateY(-100%);
                }
                
                .box .moveme .top {
                    line-height: 40px;
                    text-align: center;
                    color: rgb(70, 70, 70);
                }
                
                .box .moveme .bottom {
                    line-height: 40px;
                    text-align: center;
                    transition: all .3s ease-out;
                    color: #EFF0F2;
                }

                .linkedin {
                    background-color: #0E76A8;
                }
                
                .twitter {
                    background-color: #00acee;
                }

                .facebook {
                    background-color: #3b5998;
                }
            }
        }
    
        .footer-right {
            
            h3 {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 3em;
            }

            a {
                position: relative;
                text-decoration: none;
                display: block;
                padding: 10px 15px;
                color: $primaryColor;
                background-color: $secondaryColor;
                border-radius: 10px;
                font-weight: bold;
                transition: .3s ease-in-out;
                font-size: 1.5em;
                font-family: 'Poppins', sans-serif;
                opacity: 1;
                text-align: center;
                width: 30%;
                margin: .5em auto;

                &:hover {
                    background-color: $primaryColor;
                    color: $secondaryColor;
                }
            }
        }
    }

    .copyright {
        
    }

}