$primaryColor: #fff;
$secondaryColor: #41a2d8;
$thirdColor: #d84e41;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
}

.hero {
    position: relative;
    background: url('../images/hero-alt2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 93vh;

    header {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        z-index: 99;
        transition: .3s ease-in-out;
    
        .header-inner {
            width: 75%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: $primaryColor;
            font-size: 1.2em;
            padding: 20px;
            .header-left {

                display: flex;
                justify-content: center;
                align-items: center;
    
                p {
                    display: inline-block;
                    color: #000;
                    font-weight: bold;
                }
            }
    
            nav {
                width: 50%;
                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
    
                    li {
                        a {
                            position: relative;
                            text-decoration: none;
                            display: block;
                            padding: 10px;
                            transition: .3s ease-in-out;
                            font-size: 14px;
                            color: #000;
                            font-weight: 500;

                            &:hover {
                                color: #D87341;
                            }
    
                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 2px;
                                width: 0%;
                                z-index: 1;
                                background-color: $secondaryColor;
                                transition: .3s ease-in-out;
                            }
    
                            &:hover::before {
                                width: 100%;
                            }

                            &.active {
                                color: #D87341;
                                font-weight: bold;
                            }
                        }
    
                        &:last-child .donate-hover {
                            background-color: $secondaryColor;
                            border-radius: 5px;
                            color: #fff;
                            transition: .3s ease-in-out;
                            padding: 10px 35px;
        
                            &:hover {
                                background-color: #328ab9;
                            }
                        }
                    }
                }
            }
        }
    }

    // centered hero section
    .hero-container {
        width: 41vw;
        border-radius: 15px;
        background-color: #F46857; // D87341
        position: absolute;
        bottom: -105px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .hero-text {
            text-align: center;
            position: relative;

            i {
                position: relative;
                top: -50%;
                transform: translateY(-50%);
                color: #D84E41;
                animation: heartbeat 2.5s infinite;
            }

            h1 {
                font-size: 13px;
                color: white;
                text-transform: uppercase;
                margin: 0 auto 2em auto;
                letter-spacing: 4px;
                opacity: 0;
                transition: .5s ease-in-out;
            }

            h2 {
                font-size: 50px;
                color: $primaryColor;
                transition: .5s ease-in-out .1s;
                opacity: 0;
                margin: 50px 0;
                line-height: 1.35;
            }

            a {
                position: relative;
                text-decoration: none;
                display: inline-block;
                padding: 10px 85px;
                color: $primaryColor;
                background-color: $secondaryColor;
                border-radius: 10px;
                font-weight: bold;
                transition: background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out .2s;
                font-size: 1.5em;
                opacity: 0;
                margin-bottom: 3.1em;

                &:hover {
                    background-color: #328ab9;
                }
            }
        }
    }
}

.what-we-do {
    margin: 200px auto;
    width: 60%;

    .what-we-do-inner {
        text-align: center;
        margin-top: 10px;
        opacity: 0;
        transition: .3s ease-in-out;
        transform: translateY(-30px);

        h2 {
            letter-spacing: 4px;
            font-size: 13px;
            text-transform: uppercase;
            color: #c2c2c2;
        }

        h3 {
            font-size: 50px;
            font-weight: bold;
        }

        .what-we-do-cards {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
            height: 30vh;

            .card {
                width: 200px;
                position: relative;
                border-radius: 10px;
                transition: all .3s ease-in-out;
                outline: none;
                opacity: 0;

                i {
                    color: #a4c9cf;
                }

                h4 {
                    font-size: 22px;
                    margin: 30px auto;
                    width: 80%;
                }

                p {
                    font-size: 14px;
                }

                .fa-long-arrow-alt-right {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all .3s ease-in-out;
                    padding: 10px;
                    width: 80%;
                    background-color: rgba(216, 78, 65, .2);
                    color: #000;
                    border-radius: 10px;
                    font-weight: bold;

                    &:hover {
                        color: #fff;
                        background-color: rgba(216, 78, 65, .7);
                    }
                }
            }
        }
    }
}

.how-you-can-help {
    background-color: rgb(187, 211, 235);
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .how-inner {
        width: 55%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        img {
            position: relative;
            border-radius: 0 100px 0 100px;
            margin-top: -180px;
            opacity: 0;
            transition: all 1s ease-in-out;
            transform: translateX(-150px);
        }

        .how-right {
            margin-left: 100px;
            transition: all 1s ease-in-out;
            transform: translateX(150px);
            opacity: 0;

            h2 {
                letter-spacing: 4px;
                font-size: 13px;
                text-transform: uppercase;
                color: #747474;
            }

            h3 {
                font-size: 50px;
                margin: 10px 0;
                font-weight: bold;
            }

            p {
                margin-bottom: 50px;
                font-size: 14px;
                line-height: 26px;
            }

            a {
                text-decoration: none;
                background-color: rgb(216, 78, 65);;
                padding: 11px 20px;
                color: #fff;
                font-size: 14px;
                border-radius: 5px;
                transition: background-color .3s ease-in-out;

                &:hover {
                    background-color: rgb(168, 61, 51);
                }
            }
        }
    }
}

.contact-us {
    position: relative;
    background-color: rgb(197, 225, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 1s ease-in-out;
    
    .contact-us-inner {
        width: 45%;
        margin: 100px auto;

        h2 {
            text-align: center;
            letter-spacing: 4px;
            font-size: 13px;
            text-transform: uppercase;
            color: #747474;
        }

        h3 {
            text-align: center;
            font-size: 50px;
            margin: 10px 0;
            font-weight: bold;
        }

        form {
            margin: 35px 0;

            input[type="text"], input[type="email"] {
                // line-height: 40px;
                outline: none;
                border: none;
                border-color: #fff;
                font-size: 14px;
                margin-bottom: 12px;
                padding: 10px;
                font-family: 'Poppins', sans-serif;
            }

            input[type="submit"] {
                outline: none;
                border: none;
                background-color: #D84E41;
                color: #fff;
                padding: 15px 30px;
                display: block;
                margin: 20px auto 30px auto;
                cursor: pointer;
                border-radius: 5px;
                font-size: 14px;
                transition: background-color .3s ease-in-out;

                &:hover {
                    background-color: rgb(168, 61, 51);
                }
            }

            label {
                color: #747474;
            }

            .name-email {
                display: flex;
                justify-content: space-between;

                .name, .email {
                    display: flex;
                    flex-direction: column;
                    width: 49%;
                }
            }

            .subject {
                input {
                    width: 100%;
                }
            }

            .message {
                textarea {
                    width: 100%;
                    outline: none;
                    border: none;
                    border-color: #fff;
                    resize: none;
                    line-height: 20px;
                    font-size: 14px;
                    padding: 10px;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }
}

.copyright {
    text-align: center;
}

@keyframes heartbeat {
    50% {
        transform: translateY(-50%) scale(1);
    }

    55% {
        transform: translateY(-50%) scale(1);
    }

    60% {
        transform: translateY(-50%) scale(1.1);
    }

    65% {
        transform: translateY(-50%) scale(1);
    }

    70% {
        transform: translateY(-50%) scale(1.1);
    }

    75% {
        transform: translateY(-50%) scale(1);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}