* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #252323;
}

.hero {
  position: relative;
  background: url("../images/hero-alt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  height: 125vh;
}

.hero header {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero header nav ul li {
  margin: 0 30px;
}

.hero header nav ul li a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #000;
  font-weight: bold;
}

.hero header nav ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0%;
  z-index: 1;
  background-color: #41a2d8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header nav ul li a:hover::before {
  width: 100%;
}

.hero header nav ul li:last-child .donate-hover {
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hero header nav ul li:last-child .donate-hover::before {
  display: none;
}

.hero header nav ul li:last-child .donate-hover:hover {
  background-color: #fff;
  color: #41a2d8;
}

.hero .hero-container {
  width: 75vw;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-container .hero-text {
  margin-top: 30px;
}

.hero .hero-container .hero-text h1 {
  position: relative;
  font-size: 5em;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s ease-in-out .5s;
  transition: .3s ease-in-out .5s;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text h2 {
  position: relative;
  font-size: 2em;
  color: #fff;
  width: 60%;
  line-height: 1.5;
  margin-bottom: 25px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: .3s ease-in-out .6s;
  transition: .3s ease-in-out .6s;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out .7s;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, opacity .3s ease-in-out .7s;
  font-size: 1.5em;
  margin-top: .5em;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  top: 20px;
}

.hero .hero-container .hero-text a:hover {
  background-color: #fff;
  color: #41a2d8;
}

.our-mission {
  position: relative;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  height: 75vh;
}

.our-mission .mission-inner {
  position: relative;
  width: 40%;
  margin: -200px 900px;
  padding: 5em;
  color: #555;
  background: url("../images/paper-bg.jpg");
}

.our-mission .mission-inner::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 40px;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.our-mission .mission-inner h2 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.our-mission .mission-inner h2 span {
  position: relative;
}

.our-mission .mission-inner h2 span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 105%;
  background-color: #D84E41;
}

.our-mission .mission-inner p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  line-height: 1.75;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.our-mission .mission-inner p:nth-child(3) {
  margin-top: 2em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.how-you-can-help {
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  color: #fff;
  background: url("../images/how-you-can-help.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 100px;
}

.how-you-can-help .how-inner {
  width: 50vw;
  padding: 5em;
}

.how-you-can-help .how-inner h2 {
  position: relative;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.how-you-can-help .how-inner p {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 1.15em;
  line-height: 1.75;
  width: 30em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
  top: 20px;
}

.how-you-can-help .how-inner p:nth-child(3) {
  margin-top: 2em;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.how-you-can-help .how-inner a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #d84e41;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  margin-top: 1.5em;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
}

.how-you-can-help .how-inner a:hover {
  background-color: #fff;
  color: #d84e41;
}

.donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5em;
}

.donate h2 {
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-bottom: .5em;
}

.donate a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: #41a2d8;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.donate a:hover {
  background-color: #fff;
  color: #d84e41;
}

.footer {
  background-color: #ddd;
}

.footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4em 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.footer .footer-inner .footer-left h3 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
}

.footer .footer-inner .footer-left .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.2em 0;
}

.footer .footer-inner .footer-left .phone p {
  margin-left: 1em;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.footer .footer-inner .footer-left .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-inner .footer-left .email p {
  margin-left: 1em;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
}

.footer .footer-inner .footer-left .social {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-inner .footer-left .social .moveme {
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  width: 100%;
  height: 100%;
}

.footer .footer-inner .footer-left .social .box {
  margin: 10px;
  overflow-y: hidden;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-color: #DDDDDD;
  -webkit-box-shadow: 2px 2px 4px #888888, -2px -2px 4px #fff;
          box-shadow: 2px 2px 4px #888888, -2px -2px 4px #fff;
}

.footer .footer-inner .footer-left .social .box:hover .moveme {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.footer .footer-inner .footer-left .social .box .moveme .top {
  line-height: 40px;
  text-align: center;
  color: #464646;
}

.footer .footer-inner .footer-left .social .box .moveme .bottom {
  line-height: 40px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #EFF0F2;
}

.footer .footer-inner .footer-left .social .linkedin {
  background-color: #0E76A8;
}

.footer .footer-inner .footer-left .social .twitter {
  background-color: #00acee;
}

.footer .footer-inner .footer-left .social .facebook {
  background-color: #3b5998;
}

.footer .footer-inner .footer-right h3 {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}

.footer .footer-inner .footer-right a {
  position: relative;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: #41a2d8;
  border-radius: 10px;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  opacity: 1;
  text-align: center;
  width: 30%;
  margin: .5em auto;
}

.footer .footer-inner .footer-right a:hover {
  background-color: #fff;
  color: #41a2d8;
}
/*# sourceMappingURL=style.css.map */